.field_position_body {
  text-align: center;
  // background: chartreuse;
}
._CF {
  color: #fff;
  position: absolute;
  left: 45%;
  top: 120px;
  // font-size: 0.85rem;
}

._LF {
  color: #fff;
  position: absolute;
  left: 16%;
  top: 200px;
}

._RF {
  color: #fff;
  position: absolute;
  right: 16%;
  top: 200px;
}

._1B {
  color: #fff;
  position: absolute;
  right: 25%;
  top: 340px;
}

._3B {
  color: #fff;
  position: absolute;
  left: 25%;
  top: 340px;
}

._SS {
  color: #fff;
  position: absolute;
  left: 31%;
  top: 260px;
}

._2B {
  color: #fff;
  position: absolute;
  right: 31%;
  top: 260px;
}

._P {
  color: #fff;
  position: absolute;
  left: 44%;
  top: 360px;
}

._C {
  color: #fff;
  position: absolute;
  left: 44%;
  top: 450px;
}

.runner {
  background: chocolate;
}

.firstBase {
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: 31%;
  top: 370px;
  background: coral;
  border: solid 3px rgb(43, 4, 4);
  opacity: 0.7;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondBase {
  border-radius: 50%;
  color: #fff;
  position: absolute;
  left: 44%;
  top: 280px;
  background: coral;
  border: solid 3px rgb(43, 4, 4);
  opacity: 0.7;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdBase {
  border-radius: 50%;
  color: #fff;
  position: absolute;
  left: 30%;
  top: 390px;
  background: coral;
  border: solid 3px rgb(43, 4, 4);
  opacity: 0.7;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field_position {
  font-weight: bold;
  font-size: 0.9rem;
}

.field_position_name {
  font-size: 0.85rem;
}
