.container {
  // width: 1000px;
  width: 100%;

  margin: 0 auto;
  // background: rgba(0, 0, 0, 0.3);
  // background: url(./img/header_baseball4.jpg) repeat-x center top;
  background: url(../img/header_baseball4.jpg) repeat-x center top;
  background-size: 100% 100%;
}
.header_container {
  height: 200px;
}

// .header_container .header_menu {
//   text-align: right;
//   margin-right: 50px;
//   font-size: 1.1rem;
// }

// .header_container .header_menu .header_link {
//   text-decoration: none;
//   color: #fff;
//   padding: 8px 0 6px 10px;
//   display: inline-block;
//   transition: color 0.3s ease;
//   font-family: "Abel", sans-serif;
// }

// .header_container .header_menu .header_link:hover {
//   color: #ccc;
// }

.header_container .header_title {
  text-align: center;
  // text-transform: uppercase;
  // margin-top: 10px;
  font-family: "Abel", sans-serif;
}

.header_container .header_title h1 {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: 30px;
  font-size: 30px;
  color: #f2f299;
  background: #3d0707;
  display: inline-block;
  padding: 2px 20px 2px 20px;
  letter-spacing: 2px;
  font-weight: 900;
  transition: box-shadow 0.25s ease-in-out;
}
.header_container .header_title h1:hover {
  box-shadow: inset -9em 0 0 0 #b32e2e, inset 9em 0 0 0 #b32e2e;
}
// .header_container .header_title .header_link {
//   font-size: 16px;
//   color: #fff;
//   background: #4a9abf;
//   display: inline-block;
//   padding: 10px 20px 10px 20px;
//   margin-top: -15px;
//   transition: box-shadow 0.25s ease-in-out;
// }

// .header_container .header_title .header_link:hover {
//   box-shadow: 0 0 0 5px rgba(75, 154, 191, 0.9) inset,
//     0 0 0 100px rgba(0, 0, 0, 0.1) inset;
// }

.header_container .header_icon {
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
  font-family: "Abel", sans-serif;
}
.header_container .header_icon li {
  display: inline;
  margin: 0 2px;
}
.header_container .header_icon li a {
  background-color: #47271a;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: 0 2px;
  color: #f2f299;
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  transition: all 0.3s ease;
  svg {
    margin-bottom: -2px;
  }
}

.header_container .header_icon li a span {
  opacity: 0;
}

.header_container .header_icon li a:hover {
  box-shadow: 0 0 0 3px #7d5140 inset, 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

// /* media query*/
// @media (max-width: 1010px) {
//   .container {
//     width: 100%;
//   }
//   .row {
//     padding: 0 15px;
//   }
// }

// @media (max-width: 600px) {
//   .header {
//     height: auto;
//   }
//   .header .header_title {
//     display: none;
//   }
// }
