.PlayballBottomPlay-container {
  width: 70%;
  height: 90%;
  border: solid darkslategray 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
  background: #f8f9fa;
  padding: 0;
  display: flex;
  flex-direction: column;
  .PlayballBottomPlay-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    background: crimson;
    padding-right: 20px;
    svg {
      // icon
      font-size: 1.4rem;
      color: white;
      padding-top: 5px;
      margin-right: 8px;
    }
  }
  .PlayballBottomPlay-single {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    flex: 1;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    // background: blue;
    padding-right: 20px;
    svg {
      // icon
      font-size: 1.4rem;
      color: #3498db;
      padding-top: 5px;
      margin-right: 25px;
    }
  }
  .PlayballBottomPlay-single:hover {
    background: #00ced1;
    cursor: pointer;
    color: white;
  }

  .PlayballBottomPlay-double {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    flex: 1;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    // background: blue;
    padding-right: 20px;
    svg {
      // icon
      font-size: 1.4rem;
      color: #3498db;
      padding-top: 5px;
      margin-right: 20px;
    }
  }
  .PlayballBottomPlay-double:hover {
    background: #00ced1;
    cursor: pointer;
    color: white;
  }

  .PlayballBottomPlay-triple {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    flex: 1;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    // background: blue;
    padding-right: 20px;
    svg {
      // icon
      font-size: 1.4rem;
      color: #3498db;
      padding-top: 5px;
      margin-right: 28px;
    }
  }
  .PlayballBottomPlay-triple:hover {
    background: #00ced1;
    cursor: pointer;
    color: white;
  }

  .PlayballBottomPlay-homerun {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    flex: 1;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    // background: blue;
    padding-right: 20px;
    svg {
      // icon
      font-size: 1.4rem;
      color: #3498db;
      padding-top: 5px;
      margin-right: 5px;
    }
  }
  .PlayballBottomPlay-homerun:hover {
    background: #00ced1;
    cursor: pointer;
    color: white;
  }

  .PlayballBottomPlay-out {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    flex: 1;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    // background: blue;
    padding-right: 20px;
    svg {
      // icon
      font-size: 1.4rem;
      color: red;
      padding-top: 5px;
      margin-right: 5px;
    }
  }

  .PlayballBottomPlay-out:hover {
    background: #00ced1;
    cursor: pointer;
    color: white;
  }
}
