@import url("https://fonts.googleapis.com/css?family=Overpass");
.PlayballTopHitter-container {
  width: 90%;
  height: 60px;
  border: solid darkslategray 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
  background: #f8f9fa;
  padding: 0;
  display: flex;
  flex-direction: row;
  // align-items: center;
  // justify-content: ;
  .PlayballTopHitter-icon {
    // cursor: pointer;
    // flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #aeb6bf;
    height: 100%;
    flex: 2;
    ////
    .PlayballTopHitter_img {
      border-radius: 50%;
      background: white;
      width: 45px;
      height: 45px;
      border: rgb(9, 46, 53) solid 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 28px;
      height: 28px;
    }
  }
  .PlayballTopHitter-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    flex: 3;
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    // font-family: Overpass, sans-serif;
    font-weight: bold;
  }
  .PlayballHitter-batting {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    flex: 0.5;
  }
}
