.PlayballTopBallCount-container {
  width: 90%;
  height: 70px;
  border: solid darkslategray 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 8px;
  overflow: hidden;
  background: #f8f9fa;
  padding: 0;
  display: flex;
  flex-direction: row;
  // align-items: center;
  // justify-content: ;
  .PlayballTopBallCount-inning {
    // cursor: pointer;
    // flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: #aeb6bf;
    height: 100%;
    flex: 3;
    .PlayballTopBallCount-title-inning {
      font-size: 0.5rem;
    }
    .PlayballTopBallCount-show-inning {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      font-size: 1rem;
    }
    .PlayballTopBallCount-count-inning {
      svg {
        font-size: 0.8rem;
        color: #1e8449;
      }
      svg:hover {
        font-size: 0.8rem;
        color: #98c9ac;
        cursor: pointer;
      }
    }
  }
  .PlayballTopBallCount-topBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: white;
    flex: 1;
    .PlayballTopBallCount-show-topBottom {
      svg {
        // 아이콘
        font-size: 2rem;
        color: #3498db;
      }
    }
    .topBottom {
      svg {
        // 아이콘
        font-size: 2rem;
        color: #e74c3c;
      }
    }
  }

  .PlayballTopBallCount-strike {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: white;
    flex: 2;

    .PlayballTopBallCount-title-strike {
      font-size: 0.7rem;
      font-weight: bold;
    }
    .PlayballTopBallCount-show-strike {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      font-size: 1rem;
    }
    .PlayballTopBallCount-count-strike {
      svg {
        font-size: 0.8rem;
        color: #1e8449;
      }
      svg:hover {
        font-size: 0.8rem;
        color: #98c9ac;
        cursor: pointer;
      }
    }
  }
  .PlayballTopBallCount-ball {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: white;
    flex: 2;
    .PlayballTopBallCount-title-ball {
      font-size: 0.7rem;
      font-weight: bold;
    }
    .PlayballTopBallCount-show-ball {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      font-size: 1rem;
    }
    .PlayballTopBallCount-count-ball {
      svg {
        font-size: 0.8rem;
        color: #1e8449;
      }
      svg:hover {
        font-size: 0.8rem;
        color: #98c9ac;
        cursor: pointer;
      }
    }
  }
  .PlayballTopBallCount-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: white;
    flex: 2;
    .PlayballTopBallCount-title-out {
      font-size: 0.7rem;
      font-weight: bold;
    }
    .PlayballTopBallCount-show-out {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      font-size: 1rem;
    }
    .PlayballTopBallCount-count-out {
      // margin-top: 3px;
      svg {
        font-size: 0.8rem;
        color: #1e8449;
      }
      svg:hover {
        font-size: 0.8rem;
        color: #98c9ac;
        cursor: pointer;
      }
    }
  }
}
