.showPlayers_template {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 4px;
  .showPlayers_title {
    background: #004d40;
    color: white;
    height: 4rem;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .showPlayers_content {
    background: white;
  }
}
