@import url("https://fonts.googleapis.com/css?family=Overpass");

.teamList_body {
  display: flex;
  flex-direction: column;
  // margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  // max-width: 450px;
  width: 250px;
  height: 150px;
  background-color: #f9e79f;
  border-radius: 1rem;
  color: rgb(34, 47, 62);
  border: solid 3px white;
  cursor: pointer;
}
.teamList_body:hover {
  background-color: #f5ebc6;
}

.teamList_contents {
  margin: 10 10;
}

.teamList_top {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .teamList_img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    border: #fff solid 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(243, 219, 210);
  }
}

.teamList_img img {
  width: 50px;
  height: 50px;
}

.teamList_bottom {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  // font-family: Overpass, sans-serif;
  font-family: Bungee, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: lightsalmon;
}
// .tweet__content {
//   padding: 1rem;
// }

// .tweet__footer {
//   padding: 1rem;
//   background-color: rgb(29, 209, 161);
//   border-radius: 0 0 1rem 1rem;
//   color: #fff;
// }
