/* marginal spapce */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* a link */
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #2698cb;
}

/* font */
body,
input,
textarea,
select,
button,
table {
  font-family: "Nanum Gothic", AppleSDGothicNeo-Regular, "Malgun Gothic",
    sans-serif;
  color: #222;
  font-size: 13px;
  line-height: 1.5;
}

/* font style */
em,
address {
  font-style: normal;
}

/* ul li ol */
ul,
li,
ol {
  list-style: none;
}

/* h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 13px;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

/*- layout- */

#wrap {
  // width: 100%;
  width: 1280px;
  margin: 0 auto;
  background: #fffde7;
}

header {
  width: 100%;
  height: 200px;
}
aside {
  float: left;
  width: 15%;
  height: 950px;
  background: #f5e4c9;
}
section {
  float: left;
  width: 85%;
  height: 950px;
  background: #f9fbe7;
}
footer {
  clear: both;
  width: 100%;
  height: 100px;
  background: #331c12;
}

/*-!layout- */

.app-body {
  background: #fffde7;
}

.top-header {
  width: 100%;
  height: 40px;
  // background: #1f0c04;
  background-image: linear-gradient(to right, #1f0c04 0%, #723b24 100%);
}

.header_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // margin-top: auto;
  // margin-bottom: auto;
  text-align: right;
  margin-right: 50px;
  font-size: 1.1rem;
}

.header_menu .header_link {
  text-decoration: none;
  color: rgb(236, 236, 16);
  padding: 8px 0 6px 10px;
  // display: inline-block;
  transition: color 0.3s ease;
  font-family: "Abel", sans-serif;
}

.header_menu .header_link:hover {
  color: lightyellow;
}

/* screen width 0 ~ 1200px */
@media (max-width: 1220px) {
  #wrap {
    width: 98%;
  }
}

/* screen width 0 ~ 768px */
@media (max-width: 768px) {
  #wrap {
    width: 100%;
  }
}

/* screen width 0 ~ 550px */
@media (max-width: 550px) {
  #wrap {
    width: 100%;
  }
  header {
    margin-top: 0;
    height: 300px;
  }
  aside {
    float: none;
    width: 100%;
    height: 300px;
  }
  section {
    float: none;
    width: 100%;
    height: 900px;
  }
}
